
body {
	
		font-family: Tahoma, Verdana, sans-serif;
		background-color: #f4f4f4;
		color: #333;
		margin: 0;
		padding: 20px;
}

	h1 {
		text-align: center;
		font-size: 2.5em;
		color: #FF7F50;
		margin-bottom: 20px;
	}
	
	table {
		width: 100%;
		border-collapse: collapse;
		margin: 20px auto;
		background-color: #fff;
		box-shadow:  04px 8px rgba(0,0,0,0.1);
	
	}
	
	th, td {
		padding: 10px;
		text-align: center;
		border:1px solid #ddd;
		
	}
	
	th {
		  background-color: #4a90e2;
			color:white;
	}
	
	td {
		background-color: #ffffff;
		color:#333;
		
	}
	
	tr:nth-child(even) {
		 background-color: #f2f2f2;
	
	}
	
	tr:hoover {
		background-color: #e0e0e0;
	}
	
	img {
		max-width: 100%;
		max-height: 60px;		
		height: auto;
		object-file: contain;
	
	}		
	
	.footer-text {
    text-align: center;
    margin-top: 20px;
    color: #7f8c8d;
		font-size: 0.9em;
	}





  